.header {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid gray;
    background-color: rgb(0, 0, 0);
}

.header-container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
}

.header__logo img {
    width: 70px;
    height: 70px;
}

.header__items {
    width: 74.7%;
    display: flex;
    align-items: center;
}

.header__items ul {
    display: flex;
    width: inherit;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.header__items ul li {
    margin-left: 20px;
}

.header__items ul li a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 12px;
}

.header__items ul li a.active-item {
    background-color: rgb(194, 139, 0);
}
